registry=https://registry.npmjs.org/
@pbnpa:registry=https://gitlab.com/api/v4/projects/32429735/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=${LIB_GITLAB_WRITE_ONLY_TOKEN}
//gitlab.com/api/v4/projects/32429735/packages/npm/:_authToken=${LIB_GITLAB_WRITE_ONLY_TOKEN}

# To install core lib
@pbnpa:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=${LIB_GITLAB_READ_ONLY_TOKEN}